aside {
  width: 20vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.scoreSidebar {
  background-color: var(--light-color);
  border-right: solid 0.2rem var(--vivid-color);
}

.mainApp {
  flex: 1;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-content: stretch;
}