.historyDisplay {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    overflow-y: hidden;
}

.historyHeader {
    display: flex;
    justify-content: space-between;
}

.historyHeaderLeftSide {
    /* clear: both; */
    flex: 1;
}

.historyHeaderText {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.historyHeaderRightSide {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.historyClearButtonImage {
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
}

.historyList {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    flex: 1;
    overflow: hidden;
    /* width: 100%; */
    border-spacing: 0.3rem;
}

.historyListHeader {
    display: flex;
    flex-direction: row;
}

.historyListHeaderPlayer {
    flex: 1;
    font-weight: bold;
}

.historyListHeaderSpliter {
    font-weight: bold;
}

.historyListSeperateLine {
    background-color: black;
    height: 0.2rem;
}

.historyListContainer {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;   
}

.historyListContainer::-webkit-scrollbar {
    display: none;
}

.historyBlockRow {
    width: 100%;
    display: flex;
    flex-direction: row;
}
  
.historyBlock {
    margin: 0.1rem;
    padding: 0.5rem;
    flex: 1;
}

.historyBlock.Win {
    background-color: var(--vivid-color);
}

.historyBlock.Lose {
    background-color: var(--normal-color);
}

.historyBlock.Draw {
    background-color: var(--normal-color);
}

footer {
    text-align: center;
}

.scoreFooter {
    border-top: solid 0.3rem var(--text-color);
    height: 4rem;
    flex: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: var(--normal-color);
}